:root {

  --color-background: #F0F0F7;
  --color-primary-lighter: #000075;
  --color-primary-light: #000060;
  --color-primary: #000040;
  --color-primary-dark: #000033;
  --color-primary-darker: #00001a;
  --color-secundary: #6666ff;
  --color-secundary-dark: #55ff;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #9999ff;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

}